section#banner{
	width: 100%;
	background-image: url("../pictures/geologia.jpg");
	background-attachment: contain;
	background-position: center;
	background-repeat: no-repeat;}

#body{
	width: 100%;
	height: 1000px;
    background-color: #FFFFFF;}

		#contenedor{
			width: 100%;
		    height: 1600px;
		    background-color:#FFFFFF;
		    margin: auto;}
		
		#banner{
			width: 100%;
		    height:8000px;
			background-color:#FFFFFF;}

#texto{
			width: 1100px;
		    height: 50px;
		    margin: 50px auto 0;
		    background-color: #FFFFFF;}
#geo{
	width: 950px;
	height: 660px;
	margin: 20px auto;
}

#texto2{
	width: 1100px;
	height: 2060px;
	margin: 50px auto;
}

#hidro{
	width: 950px;
	height: 662px;
	margin: auto;
}

#texto3{
			width: 1100px;
		    height: 400px;
		    margin: 50px auto 0;
		    background-color: #FFFFFF;}
#mapa{
	width: 950px;
	height: 802px;
	margin: 50px auto;
}

#litologia{
	width: 1000px;
	height: 614px;
	margin: auto;
}

#litologia1{
	float: left;
	width: 500px;
	height: 614px;
}

#litologia2{
	float: right;
	width: 500px;
	height: 439px;
}

#textoreferencia{
	margin: auto;
	margin-top: 20px;
	
	width: 1000px;
	height: 60px;
}

#textoreferencia p{
	text-align: center;
}

#texto4{
			width: 1100px;
		    height: 1550px;
		    margin: 50px auto 0;
		    background-color: #FFFFFF;
}

.container{
	margin: 100px auto;
	position: relative;
	display:contents;
	justify-content: space-between;
	align-items: center;
	height: 672px;
	width: 1100px;
	transition: 0.5s;
}

.container .box{
	margin: 50px auto;
	position:relative;
	height: 672px;
	width: 950px;
	background: #000;
}

.container .box .imgbx{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.container .box .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.5s;
}

.container .box .contentbx{
	position: absolute;
	top: 40px;
	bottom: 40px;
	right: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.7);
	transition: transform 0.5s;
	transform-origin: right;
	transform: scaleX(0);
}

.container .box:hover .contentbx{
	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(1);
}

.container .box:hover .imgbx img{
	transform: scale(1.5) translateX(-50px);
}

.container .imgbox .box .contentbx .content{
	position: relative;
	padding: 20px 60px;
	opacity: 0;
}

.container .box:hover .contentbx .content{
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.5s;
}

.container .box .contentbx .content h2{
	margin:40px 50px;
	font-size: 30px;
	color: #FECD56;
}

.container .box .contentbx .content p{
	margin: 0 50px;
	font-size: 25px;
	color: #FFFFFF;
}