section#banner{
	width: 100%;
	background-image: url(../pictures/localizacion.jpg);
	background-attachment: contain;
	background-position: center;
	background-repeat: no-repeat;}

#body{
	width: 100%;
    background-color: #FFFFFF;}
		
		#banner{
			width: 100%;
		    height: 11280px;
			background-color:#FFFFFF;}
		
		#texto{
			width: 1100px;
		    height: 180px;
		    margin: 50px auto 0;
		    background-color: #FFFFFF;
}

#america{
	margin: 50px auto;
	height: 550px;
	width: 550px;
}

#texto1{
			width: 1100px;
		    height: 160px;
		    margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
		    background-color: #FFFFFF;}

#colombia{
	margin: 50px auto;
	height: 550px;
	width: 950px;
}

#referencia{
			width: 1100px;
		    height: 50px;
		    margin: 0 auto;
		    background-color: #FFFFFF;
}

#referencia p{
			text-align: center;
			font-size: 20px;
}

#referencia a{
	font-family: 'Montserrat', sans-serif;
		    font-size: 20px;
		    color: #000000;
}

#texto2{
	width: 1100px;
	height: 140px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 50px;
	background-color: #FFFFFF;
}

#metropolitana{
	width: 699px;
	height: 550px;
	margin: 50px auto;
}

#veredas{
	width: 950px;
	height: 660px;
	margin: 50px auto;
}

#texto3{
	width: 1100px;
	height: 340px;
	margin: 70px auto;
	background-color: #FFFFFF;
}

#map{
	margin: auto;
	margin-top: 50px;
			width: 100%;
		    height: 475px;
			background-color:#FFFFFF;
}

.maps .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 736px;
      height: 475px;
	background: #ffffff;
}

#mapa{
	width: 950px;
	height: 550px;
	margin: 70px auto;
}

#texto4{
	width: 1100px;
	height: 920px;
	margin: 70px auto;
	background-color: #FFFFFF;
}

#texto4 a{
	font-family: 'Montserrat', sans-serif;
		    font-size: 25px;
		    color: #000000;
}

#seditrans{
	width: 550px;
	height: 300px;
	margin: 30px auto;
}

#texto5{
	width: 1100px;
	height: 650px;
	margin: 70px auto;
	background-color: #FFFFFF;
}

#bus{
	width: 512px;
	height: 500px;
	margin: 30px auto;
}

#texto6{
	width: 1100px;
	height: 550px;
	margin: 70px auto;
	background-color: #FFFFFF;
}

#combuses{
	width: 563px;
	height: 400px;
	margin: 30px auto;
}

#texto7{
	width: 1100px;
	height: 440px;
	margin: 70px auto;
	background-color: #FFFFFF;
}

#taxi{
	width: 373px;
	height: 200px;
	margin: 30px auto;
}

		p{
			font-family: 'Montserrat', sans-serif;
			text-align: justify;
		    font-size: 25px;
		    color: #000000;}