section#banner{
	width: 100%;
	background-image: url("../pictures/muestra.jpg");
	background-attachment: contain;
	background-position: center;
	background-repeat: no-repeat;}

#body{
	width: 100%;
	height: 1000px;
    background-color: #FFFFFF;}

		#contenedor{
			width: 100%;
		    height: 1600px;
		    background-color:#FFFFFF;
		    margin: auto;}
		
#banner{
	width: 100%;
	height: 19980px;
	background-color:#FFFFFF;
}

#texto{
	width: 1100px;
	height: 200px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#masah{
	width: 385px;
	height: 600px;
	margin: 50px auto;
}

#volumen{
	width: 1100px;
	height: 150px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#volumen *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#texto2{
	width: 1100px;
	height: 30px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#video{
	width: 863px; 
	height: 490px;
	margin: 50px auto;
}

#texto3{
	width: 1100px;
	height: 100px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#seco{
	width: 776px;
	height: 600px;
	margin: 50px auto;
}

#masa{
	width: 1100px;
	height: 200px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#masa *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#cuarteo{
	width: 756px;
	height: 600px;
	margin: 50px auto;
}

#gravedad{
	width: 1100px;
	height: 330px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#picnometro{
	width: 297px;
	height: 600px;
	margin: 50px auto;
}

#gs{
	width: 1100px;
	height: 260px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#gs *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#calculos *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: justify;
}

#calculos h2{
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	text-align: justify;
	color:#632410;
}

#calculos h1{
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	text-align: center;
	color:#632410;
}

#calculos{
	width: 1100px;
	height: 3070px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#texto4{
	width: 1100px;
	height: 370px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#masat{
	width: 485px;
	height: 600px;
	margin: 50px auto;
}

#texto5{
	width: 1100px;
	height: 200px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#tamiz{
	width: 364px;
	height: 600px;
	margin: 50px auto;
}

#texto6{
	width: 1100px;
	height: 510px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#hidrometro{
	width: 357px;
	height: 600px;
	margin: 50px auto;
}

#texto7{
	width: 1100px;
	height: 50px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#curva{
	width: 738px;
	height: 449px;
	margin: 50px auto;
}

#porcentajes{
	width: 1100px;
	height: 370px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#porcentajes *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#texto8{
	width: 1100px;
	height: 530px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

#liquido1{
	width: 1001px;
	height: 600px;
	margin: 50px auto;
}

#liquido2{
	width: 705px;
	height: 600px;
	margin: 50px auto;
}

#texto9{
	width: 1100px;
	height: 130px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

#texto10{
	width: 1100px;
	height: 70px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

#flujo{
	width: 738px;
	height: 443px;
	margin: 50px auto;
}

#texto11{
	width: 1100px;
	height: 40px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#texto11 *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#texto12{
	width: 1100px;
	height: 270px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

#texto13{
	width: 1100px;
	height: 150px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

#texto13 a{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #000000; 
}

#ip{
	width: 1100px;
	height: 130px;
	margin: 50px auto;
	background-color: #FFFFFF;
}

#ip *{
	font-family: Times, "Times New Roman", "serif";
	font-size: 25px;
	text-align: center;
}

#casa{
	width: 882px;
	height: 465px;
	margin: 50px auto;
}

#texto14{
	width: 1100px;
	height: 450px;
	margin: 50px auto;
	background-color: #FFFFFF; 
}

table.tableizer-table {
		border: 1px solid #CCC; 
	} 

	.tableizer-table td {
		font-size: 25px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}

	.tableizer-table th {
		font-size: 25px;
		text-align: center;
		padding: 10px;
		border: 1px solid #CCC;
		font-family: 'Montserrat', sans-serif;
	}

table.hidrometro {
		border: 1px solid #CCC; 
	} 

	.hidrometro td {
		font-size: 15px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}

	.hidrometro th {
		font-size: 15px;
		text-align: center;
		padding: 5px;
		border: 1px solid #CCC;
		font-family: 'Montserrat', sans-serif;
	}

table.liquido {
		border: 1px solid #CCC; 
	} 

	.liquido td {
		font-size: 25px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		padding: 8px;
		margin: 3px;
		border: 1px solid #CCC;
	}

	.liquido th {
		font-size: 25px;
		text-align: center;
		padding: 10px;
		border: 1px solid #CCC;
		font-family: 'Montserrat', sans-serif;
	}
.liquido *{
	font-family: 'Montserrat', sans-serif;
}